html{    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: lightgrey;
}

h1{
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
}

.squareContainer{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height :600px;
    background-color: white;
}

.addSquare{
    border: 2px solid black;
    box-sizing: border-box;
}


.button{
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border-color: black ;
    height: 100px;
    width: 100px;
    padding: 8px;
}



