html {    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height :600px;
   
    
}

.addSquare{
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
}